In [58]:
import numpy as np
import pandas as pd
from IPython.display import Markdown,display
def printmd(message,data):
    text="**<u>"+message+"</u>**"
    display(Markdown(text),data)
df = pd.read_csv("mpg.csv")
groups1=df.groupby('model_year')['horsepower'].max()
groups2=df.groupby('model_year')['acceleration'].mean()
result=pd.concat([groups1,groups2],axis=1)
result

           horsepower  acceleration
model_year
70                 97     12.948276
71                  ?     15.142857
72                 97     15.125000
73                 95     14.312500
74                  ?     16.203704
75                 98     16.050000
76                 95     15.941176
77                 98     15.435714
78                 97     15.805556
79                 90     15.813793
80                  ?     16.934483
81                  ?     16.306897
82                  ?     16.638710